@model Depot.Models.Name

@{
    ViewData["Title"] = "Create";
}

<h2>入库</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>货物</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Goods" class="col-md-2 control-label">货物名</label>
            <div class="col-md-10">
                <input asp-for="Goods" class="form-control" />
                <span asp-validation-for="Goods" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="number" class="col-md-2 control-label">数量</label>
            <div class="col-md-10">
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="location" class="col-md-2 control-label">送往城市</label>
            <div class="col-md-10">
                <input asp-for="location" class="cityinput" id="citySelect" />
                <span asp-validation-for="location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="price" class="col-md-2 control-label">单价</label>
            <div class="col-md-10">
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
