@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <div >
        
    </div>
    <h1>仓库管理系统</h1>
</div>
<div class="row">
    <div class="col-md-4">  
        <a asp-area="" asp-controller="Names" asp-action="Index"><img src="~/images/feature/ipod.png" class="home_footerImage"></a>
        <h2>欢迎来到仓库管理系统</h2>
        <p>
            本仓库管理系统是基于RFID的管理系统
        </p>
    </div>
    <div class="col-md-4">
        
        <a asp-area="" asp-controller="Person" asp-action="Index"><img src="~/images/feature/siri.png" class="home_footerImage" /></a>
        <h2>RFID射频仓库管理</h2>
        <p>一个快速，信息化的平台。让仓库管理变得更加轻松</p>
    </div>
    <div class="col-md-4">
        <a asp-area="" asp-controller="Introduct" asp-action="Index"><img src="~/images/feature/phonebook.png" class="home_footerImage" /></a>
        <h2>网页介绍</h2>
        <p>作者：江泽鹏<br>设计者:江泽鹏</p>
    </div>
</div>
